{
    "presets": [
        ["@babel/env", {
            "forceAllTransforms": true,
            "targets": {
                "node": "current"
            }
        }]
    ],
    "sourceMaps": true
}
