/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

/public/css/frontend.css
/public/css/frontend.css.map
/public/css/backend.css
/public/css/backend.css.map
/public/js/frontend.js
/public/js/frontend.js.map
/public/js/backend.js
/public/js/backend.js.map

.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea
.project
_ide_helper.php
composer.phar
error.log
Todo.rtf
.vagrant