/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/nbproject
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
composer.phar
error.log