<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true"
         convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true"
         processIsolation="false" stopOnFailure="false" printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">
                ./app
            </directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite_testing"/>
        <env name="ENABLE_REGISTRATION" value="true"/>
        <env name="MAIL_DRIVER" value="log"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="REGISTRATION_CAPTCHA_STATUS" value="false"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PASSWORD_EXPIRES_DAYS" value="false"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">
                ./tests/Unit
            </directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">
                ./tests/Feature
            </directory>
        </testsuite>
    </testsuites>
</phpunit>
