// Dashboard Styles

.profile-picture {
  max-height:90px;
}

.navbar-default .dropdown-menu>li>a.active {
  color: #262626;
  background-color: #f5f5f5;
}

.navbar-default .navbar-nav>li>a.active:focus,
.navbar-default .navbar-nav>li>a.active:hover,
.navbar-default .navbar-nav>li>a.active {
  color: #bbb;
  cursor: default;
}
