// Any Bootstrap or FontAwesome-specific variables added here will overwrite the defaults.
@import "variable-overrides";

@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../../node_modules/font-awesome/scss/font-awesome';

// Front-end SCSS goes here.